{% extends "base.html" %}

{% block content %}

{% if errors %}
<div class="container">  
    {% for e in errors %}
        <div class="alert alert-danger" role="alert">
            {{ e }}
        </div>
    {% endfor %}
</div>
{% endif %}

<div class="container">
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="file">Select a file:</label>
      <input type="file" class="form-control-file" id="file" name="file[]" multiple>
    </div>
    <input type="submit" class="btn btn-link bg-dark" value="Submit">
  </form>
</div>

<div class="container" style="padding-bottom: 30px;"></div>

{% if responses %}
<div class="container">
{% for r in responses %}
    <div class="alert alert-success" role="alert">
        {{ r["text"] }}
    </div>
{% endfor %}
</div>

<div class="container">
    <button class="btn btn-link bg-dark text-light" onclick="download()">Download</button>
</div>

{% endif %}

<script>
function download() {
    var zip = new JSZip();
    var responses = {{ responses|tojson }};

    for (var i = 0; i < responses.length; i++) {
      var filename = responses[i].filename;
      var content = responses[i].text;
      zip.file(filename, content);
    }

    zip.generateAsync({type:"blob"})
      .then(function(content) {
        var link = document.createElement('a');
        link.download = "MyJobs.zip";
        link.href = URL.createObjectURL(content);
        link.click();
      });
}
</script>

{% endblock %}
